nav {
    display: flex;
    background-color: #2c3e50;
}

.block {
    /* debug */
    min-height: 30px;
    /* border: 1px solid black;  */
}

/* COLORS BACKGROUND */
.color-aquagreen{ background-color: #1abc9c;}

.color-info { background-color: #3a546d;}

.color-footer { background-color: #2c3e50;}

.border-color-white { border: 1px solid white;}
/* COLORS FONT */

.color-white {color: white;}

.color-start-bootstrap { color: #1abc9c;}

.color-grey { color: #888888;}

/* CLASS */
img {
    border-radius: 5%;
}

.btn_color {
    background-color: #1abc9c;
    border: #1abc9c;
}

.form-control {
    border-bottom: 1px solid black;
    border: 0;
    border-radius: 0;
}

.form-control::placeholder {
    color: #2c3e50;
    opacity: 1;
}

.logotext {
    font-size: calc(1.375rem + 2.5vw);
}

.stella {
    max-width: 200px;
    width: 50%;
    height: 2px;
    background-color: black;
}

.stella-white {
    max-width: 200px;
    width: 50%;
    height: 2px;
    background-color: white;
}

.circle {
    width: 55px;
}

.navbar-toggler {
    border: 1px solid white;
}
